<!DOCTYPE html>
<html>

<head>
    <title>Chamado</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>



<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary colornav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tabela">Chamados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="chamado">Novo Chamado</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <br><center><div id="mensagem"></div></center><br>
    <div class="form container mt-5">
        <form id="registrochamado" method="post" class="row g-3">

            <center><Strong><h1>Chamado</h1></Strong></center>
             <div class="w-100"></div> <!-- quebra de linha -->
             
             <div class="w-100"></div> <!-- quebra de linha -->
            <div class="row">
             <div class="col-md-10 offset-md-1">
            <div class="alert alert-primary tamanho" role="alert">
                <p>Você receberá uma cópia deste chamado por email, incluindo o número do chamado e todas as
                    atualizações de status.</p>
            </div>
             </div>
                </div>
              <div class="w-100"></div> <!-- quebra de linha -->
           <div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Nome Completo / Empresa *</label>
                    <input class="form-control" placeholder="Nome do cliente ou empresa" name="nome" id="nome">
                     <div class="valid-feedback">
      Nome informado
    </div>
                <div class="invalid-feedback">
      Informe o Nome!
    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Email para Contato *</label>
                    <input type="email" class="form-control" placeholder="name@example.com" name="email" id="email">
                     <div class="valid-feedback">
      E-mail informado!
    </div>
                <div class="invalid-feedback">
      Por favor preencha o e-mail no formato correto
    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="mb-3">
            <label class="form-label texto">Categoria *</label>
            <select class="form-select" name="categoria" id="categoria" required>
                <option selected>Selecione a Categoria do Problema</option>
                <option value="Hardware">Hardware</option>
                <option value="Software">Software</option>
                <option value="Rede">Rede</option>
                <option value="Licitacao">Licitação</option>
                <option value="Financeiros">Financeiros</option>
                <option value="Outros">Outros</option>
            </select>
        </div>
    </div>
</div>

             <div class="row">
             <div class="col-md-10 offset-md-1">
            <div class="mb-3">
                <label class="form-label texto">Título do Chamado *</label>
                <input name="titulo" class="form-control" id="titulo"
                    placeholder="Ex: problema no servidor de Backup">
                <div class="valid-feedback">
      Título informado!
    </div>
                <div class="invalid-feedback">
      Por favor informe o título do chamado
    </div>
            </div>
             </div>
              </div>



            
             
            <div class="row align-items-end">
                <div class="col-md-4 offset-md-1">
                    <div class="mb-3">
                        <label class="form-label">Prioridade / Criticidade *</label>

                        <div class="bs-select-wrapper"   id="select2" required>
    <div  class="bs-select-display">
        <span class="selectText">Selecione uma opção</span>
        <span class="bs-caret"></span>
    </div>

    <div  class="bs-select-menu" required>
        <div class="bs-option" data-value="Baixa">
            <span class="opt-title text-success">Baixa</span>
            <span class="opt-subtitle">Prazo: 8h resposta / 40h solução (horário comercial)</span>
        </div>

        <div class="bs-option" data-value="Média">
            <span class="opt-title text-warning">Média</span>
            <span class="opt-subtitle">Prazo: 4h resposta / 16h solução (horário comercial)</span>
        </div>

        <div class="bs-option" data-value="Alta">
            <span class="opt-title laranja">Alta</span>
            <span class="opt-subtitle">Prazo: 1h resposta / 8h solução (horário comercial)</span>
        </div>

        <div class="bs-option" data-value="Crítica">
            <span class="opt-title text-danger">Crítica 24x7</span>
            <span class="opt-subtitle">Prazo: 15min resposta / 4h solução (24x7)</span>
        </div>
    </div>

    <input type="hidden" class="selectValue" name="prioridade" id="prioridade">
      <div class="valid-feedback">
    </div>
     <div class="invalid-feedback">
    </div>
</div>



                    </div>
                </div>
                <div class="col-md-4 offset-md-2">
                    <div class="mb-3">
                        <label class="form-label">Tipo de Ativo de TI *</label>
                        <div class="bs-select-wrapper" name="ativo" id="select1">
                            <div class="bs-select-display">
                                <span class="selectText">Selecione uma opção</span>
                                <span class="bs-caret"></span>
                            </div>

                            <div class="bs-select-menu">
                                <div class="bs-option" data-value="Servidor">
                                    <span class="opt-title">Servidor</span>
                                    <span class="opt-subtitle">SLA reduzido em 25% a 50%</span>
                                </div>
                                <div class="bs-option" data-value="Storage">
                                    <span class="opt-title">Storage</span>
                                    <span class="opt-subtitle">SLA reduzido em 25% a 50%</span>
                                </div>
                                <div class="bs-option" data-value="Switch">
                                    <span class="opt-title">Switch</span>
                                    <span class="opt-subtitle">SLA reduzido em 10% a 30%</span>
                                </div>
                                <div class="bs-option" data-value="Períferico">
                                    <span class="opt-title">Períferico</span>
                                    <span class="opt-subtitle">SLA padrão</span>
                                </div>
                                <div class="bs-option" data-value="Outros">
                                    <span class="opt-title">Outros</span>
                                    <span class="opt-subtitle">SLA padrão</span>
                                </div>
                            </div>

                            <input type="hidden" class="selectValue">
                             
                        </div>

                    </div>
                </div>
                <div class="col">

                </div>
            </div>

            
              <div class="row">
            <div class="col-md-10 offset-md-1">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descrição Detalhada *</label>
                <textarea class="form-control" name="descricao" id="descricao" rows="5"></textarea>
            </div>
            </div>
              </div>
              <div class="row">
             <div class="col-md-10 offset-md-1">
            <div class="mb-3">
                <label for="formFile" class="form-label">Anexos (opcional)</label>
                <input class="form-control" type="file" id="formFile">
            </div>
             </div>
             </div>
            <br>
            <div class="col-md-10 offset-md-1">
                <div class="mb-3">
                <button type="submit" class="btn btn-dark w-40">Editar chamado</button>
            </div>
            </div>
        </form>
    </div>
    <br><br>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
    <script  th:src="@{/js/logado.js}"></script> 
    <script  th:src="@{/js/initCustomSelect.js}"></script> 
    <script  th:src="@{/js/chamadoid.js}"></script> 
    <script  th:src="@{/js/editachamado.js}"></script>
</body>

</html>
