<!DOCTYPE html>
<html>

<head>
    <title>Registro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>



<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary colornav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tabela">Chamados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="chamado">Novo Chamado</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
  
<div class="container mt-5 tabelaform">

    <center><h1 class="text-primary">Chamados</h1></center>
    <br>

    <!-- CARDS (container removido) -->
    <div class="row g-3">

        <div class="col-3">
            <div class="card p-3 shadow-sm chamados">
                <h6>📊 Quantidade de chamados</h6>
                <h3 id="quantidadechamados">0</h3>
            </div>
        </div>

        <div class="col-3">
            <div class="card p-3 shadow-sm critico">
                <h6>🚨 Críticos</h6>
                <h3 id="quantidadecriticos">0</h3>
            </div>
        </div>

        <div class="col-3">
            <div class="card p-3 shadow-sm altas">
                <h6>⬆️ Altas</h6>
                <h3 id="quantidadealtos">0</h3>
            </div>
        </div>

        <div class="col-3">
            <div class="card p-3 shadow-sm aberto">
                <h6>📂 Abertos</h6>
                <h3 id="quantidadeabertos">0</h3>
            </div>
        </div>

    </div>

    <br>
    
    
    <div class="row g-3">

        <div class="col-6">
            <div class="card p-3 shadow-sm grafico" style="height: 350px;">
                <center><h6 class="graficotitulo">Quantidade por Categoria</h6></center>
               <canvas id="myChart"></canvas>
            </div>
        </div>

        <div class="col-6">
            <div class="card p-3 shadow-sm grafico" style="height: 350px;">
                <center><h6 class="graficotitulo">Quantidade por Prioridade</h6></center>
                <canvas id="myChart2"></canvas>
            </div>
        </div>

    </div>
    
    <br>
   <!-- FILTROS -->
<div class="row g-3">
    <div class="col">
        <input type="text" class="form-control" placeholder="Busca" id="inputBusca">
    </div>

    <div class="col">
        <select class="form-select" id="selectFiltro">
            <option value="1">Id do Chamado</option>
            <option value="2">Título do chamado</option>
            <option value="3">Empresa</option>
            <option value="4">E-mail</option>
            <option value="5">Categoria</option>
            <option value="6">Prioridade</option>
            <option value="7">Tipo de Ativo</option>
        </select>
    </div>
</div>

    <br><br>

    <!-- TABELA (já alinhada) -->
    <table class="table" id="tabelaChamados">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título do Chamado</th>
                <th>Empresa</th>
                <th>E-mail</th>
                <th>Categoria</th>
                <th>Prioridade</th>
                <th>Tipo de Ativo</th>
                <th>Foto</th>
                <th>Editar</th>
                <th>Apagar</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Item 1</td>
                <td>1</td>
                <td>1</td>
                <td>Item 1</td>
                <td>1</td>
                <td>1</td>
                <td>Item 1</td>
                <td><button class="btn bg-transparent border-0">✏️ Editar</button></td>
                <td><button class="btn bg-transparent border-0">🗑️ Apagar</button></td>
            </tr>
        </tbody>
    </table>

    <br>

    <!-- PAGINAÇÃO -->
    <ul class="pagination" id="paginacao"></ul>

</div>

    <br><br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

     <script  th:src="@{/js/logado.js}"></script> 
     <script  th:src="@{/js/tabela.js}"></script> 
     <script  th:src="@{/js/dashboard.js}"></script> 
</body>

</html>

